* {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

.top-section {
  display: flex;
}

.top-section .top-image {
  width: 58%;
}

.top-section #hero-image {
  width: 100%;
  display: block;
}

.top-section .top-text {
  width: 30%;
  padding: 100px;
  position: relative;
}

.top-section .carousel-container {
  position: absolute;
  bottom: 0;
  left: 15%;
}

#test {
  background-color: black;
  padding: 30px;
  display: inline;
}

.bottom-section {
  display: flex;
  width: 100%;
}

.bottom-section #dark-image, .bottom-section #light-image {
  width: 100%;
}

.bottom-section .bottom-text {
  color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 80px;
}

.bottom-section .bottom-text h2 {
  margin-bottom: 20px;
}
